<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include file="$(find fanuc_r2000ic_support)/launch/load_r2000ic125l.launch" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find fanuc_r2000ic_support)/rviz/kr20.rviz" required="true" />
          
</launch>
